---
const data = await fetch("http://192.168.1.252/server/active", {
  method: "GET",
  headers: {
    'Accept': 'application/json',	
    'Content-Type': 'application/json'}
    }).then(res => 
    {
    return res.json()
    });

---

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem 2rem;
  }
  .sheet {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem 1rem;
    min-height: 20vh;
    background: rgba(200,240,240, 1);
  }
  .sheet p {
    display: flex;
    flex-wrap: wrap;
  }
  .sheet h2 {
    padding: 1rem;
    border-bottom: black solid 3px;
  }
  .field {
    display: flex;
    flex-direction: column;
    border: white 1px solid;
    border-radius: 7px;
  }

</style>

<div class="container">
  {
  data.map(x => 
  <div class="sheet">
    <div class="field"><h2>ID</h2><p>{x.id}</p></div>
    <div class="field"><h2>Job Description</h2><p>{x.quote}</p></div>
    <div class="field"><h2>Engineer</h2><p>{x.author}</p></div>
    <div class="field"><h2>Date</h2><p>{x.year}</p></div>
    <div class="field"><h2>Start Time</h2><p>{x.startTime}</p></div>
    <div class="field"><h2>End Time</h2><p>{x.endTime}</p></div>
    <div class="field"><h2>Equipment</h2><p>{x.equipment}</p></div>
    <div class="field"><h2>Parts Used</h2><p>{x.partsUsed}</p></div>
    <div class="field"><h2>Materials Used</h2><p>{x.materialsUsed}</p></div>
    <div class="field"><h2>Further Action Required</h2><p>{x.furtherAction}</p></div>
    <div class="field"><h2>Location</h2><p>{x.location}</p></div>
    <div class="field"><h2>Amendments</h2><p>{x.updateList}</p></div>
  </div>)
  }
</div>
