---
const { link1, link2, link3, link4, color } = Astro.props;
---
<style>
  *{
    margin: 0;
    padding: 0;
  }
nav {
}
li, ul {
  font-family: var(--font-main);
  list-style: none;
}
[data-is-top="true"] .menu{
  opacity: 1;
}
[data-is-scrolling-up="false"] .menu{
  opacity: 0;
  transition: all ease 500ms;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 10rem;
  transition: all ease 500ms;
  z-index: 99;
}
.menu a {
  font-family: var(--font-main);
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 900;
}
.menu ul {
  display: flex;
  width: 100%;
  padding-top: 1rem;
}

  .link5 {opacity: 0;}
@media (min-width: 680px) {
  .menu li {
    justify-items: center;
    align-items: center;
    padding: 1rem;
  }
  .menu ul {
    flex-direction: row;
  }
  .link2  {margin-left: auto;}
  .link4  {margin-right: auto;}
}

@media (max-width: 680px) {
  .menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
  }
  .menu ul {
    flex-direction: column;
  }
  .link2  {margin-left: 0;}
  .link4  {margin-right: 0;}
}

</style>


<header class="scrollobserver">
  <nav aria-label="Main navigation" style=`background: ${color};` class="menu">
<ul>
  <li class="link1 "> <a class="hover:text-indigo-200" href="/">{link1}</a> </li>
  <li class="link2 "> <a class="hover:text-indigo-200" href="/contact/">{link2}</a> </li>
  <li class="link3 "> <a class="hover:text-indigo-200" href="https://github.com/onwidget/astrowind">{link3}</a> </li>
  <li class="link4 "> <a class="hover:text-indigo-200" href="/about/">{link4}</a> </li>
  <li class="link5"> <a href="#">{link1}</a> </li>
</ul>
</nav>
</header>
